.WeatherForecast {
   text-align: center;
}

.WeatherForecast canvas {
    display: block;
    float: none;
    margin: 0 auto;
}

.WeatherForecast-temp-min {
    opacity: 0.6;
    margin-left: 5px;
}